{% extends 'container/container.html' %}
{% block contenido %}
<form method="post">
  <div class="panel panel-default">
    <div class="panel-heading">
      Eliminar
    </div>
    <div class="panel-body">
      {% csrf_token %}
      <div class="alert alert-succes">
        Eliminar
      <button type="submit" class="btn btn-danger">
        <span class="fa fa-delete">Eliminar</span>
      </button
        <a href="{% url 'Demonio:Demonios' %}" class="btn btn-succes">
          <span class="fa fa-undo"></span>
        </a>
    </div>
  </div>
</form>
{% endblock contenido %}
