{% extends 'container/container.html' %}
{% block contenido %}
<div class="panel panel-primary">
    <div class="panel-heading">
       <h1>
         Batallas <span class="badge badge-info"><i class="fas fa-fist-raised fa-2x "></i>  </span>
       </h1>
    </div>
</div>
<div class="panel-body"></div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id </th>
            <th>Batalla</th>
            <th>Demonio</th>
            <th>Acciones</th>

        </tr>
    </thead>
    {% csrf_token %}
    <tbody>
        {% for item in batalla  %}
        <tr>
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.demonio}}
            </td>
            <td>
              {{item.estado}}
            </td>

             <td>
               <div class=" btn-group dropright">
                  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                  </button>
                  <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                      <a  class="btn btn-outline-danger btn-block " href="{% url 'Batalla:EliminarB' item.id  %}">eliminar</a>
                      <a class="btn btn-outline-info  btn-block mt-2" href="{% url 'Batalla:EditarB' item.id  %}">Editar</a>
                  </div>
                </div>





            </td>


        </tr>
        {% endfor %}
    </tbody>
</table>
 <a class="btn btn-outline-primary" href="{% url 'Batalla:AgregarB' %}">Agregar</a>
{%endblock contenido%}
