{% extends 'container/container.html' %}
{% block contenido %}
<div class="panel panel-primary">
    <div class="panel-heading">

    </div>
</div>
<div class="panel-body"></div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id </th>
            <th>Demonio</th>



        </tr>
    </thead>
    {% csrf_token %}
    <tbody>
        {% for item in demonio  %}
        <tr>
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.DemonioNombre}}
            </td>
            <td>
                {{item.detallecuerpo}}
            </td>


             <td>
                <a href="{% url 'Demonio:EditarD' item.id  %}">Editar</a>
            </td>
            <td>
               <a href="{% url 'Demonio:EliminarD' item.id  %}">eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 <a href="{% url 'Demonio:AgregarD' %}">Agregar</a>
{%endblock contenido%}
