{% extends 'container/container.html' %}
{% block contenido %}
<div class="panel panel-primary">
    <div class="panel-heading">
      <h1>
        Estados Generales<span class="badge badge-primary"><i class="fas fa-arrows-alt-h fa-2x"></i></span>
      </h1>
    </div>
</div>
<div class="panel-body" ></div>
<table class="table table-striped table-hover" id="myTable">
    <thead>
        <tr>
            <th>Id </th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    {% csrf_token %}
    <tbody>
        {% for item in estado  %}
        <tr>
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.EstadoNombre}}
            </td>

             <td>
               <div class=" btn-group dropright">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                  </button>
                  <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                      <a  class="btn btn-outline-danger btn-block " href="{% url 'Estado:EliminarE' item.id  %}">eliminar</a>
                      <a class="btn btn-outline-info  btn-block mt-2" href="{% url 'Estado:EditarE' item.id  %}">Editar</a>
                  </div>
                </div>

                <a
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
 <a class="btn btn-outline-primary" href="{% url 'Estado:AgregarE' %}">Agregar Estado</a>

{%endblock contenido%}
