{% extends 'container/container.html' %}
{% block contenido %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>
          Estados de Extremidades<span class="badge badge-success"><i class="fas fa-male fa-2x"></i></span>
        </h1>
    </div>
</div>
<div class="panel-body"></div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id </th>
            <th>parte cuerpo</th>
            <th>Estado</th>
            <th>Acciones</th>

        </tr>
    </thead>
    {% csrf_token %}
    <tbody>
        {% for item in detallecuerpo  %}
        <tr>
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.partecuerpo}}
            </td>
            <td>
              {{item.estado}}
            </td>


             <td>
               <div class=" btn-group dropright">
                  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                  </button>
                  <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                      <a  class="btn btn-outline-danger btn-block " href="{% url 'Detallecuerpo:EliminarDC' item.id  %}">eliminar</a>
                      <a class="btn btn-outline-info  btn-block mt-2" href="{% url 'Detallecuerpo:EditarDC' item.id  %}">Editar</a>
                  </div>
                </div>


            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
 <a class="btn btn-outline-primary" href="{% url 'Detallecuerpo:AgregarDC' %}">Agregar</a>
{%endblock contenido%}
